.wrapper__Customer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.header__Customer {
  padding: 25px;
  text-align: center;
}

.infoWrapper__Customer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoWrapper__Customer > div > li {
  padding: 0;
}

.overViewContainer__Customer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.item1__Customer {
  padding: 15px;
}

.item2__Customer {
  padding: 15px;
  background-color: lightgrey;
}

.gridTitleContent__Customer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.descriptionWrapper__Customer {
  padding-bottom: 30px;
  .description__Customer {
    padding: 20px;
    border: 1px solid grey;
    width: 90%;
    margin: auto;
  }
}

.headerBill__Customer {
  padding: 15px;
}

.buttonContainer_Customer {
  text-align: left;
  margin-left: 25px;
  padding-bottom: 25px;
}

.receiptItem__Customer {
  padding: 15px 0px;
}

.receiptItem__Customer:nth-child(2) {
  background-color: lightgrey;
}

.receiptItem__Customer:hover {
  background-color: rgba($color: #a5a5a5, $alpha: 0.8);
  cursor: pointer;
}

.receiptItemWrapper__Customer {
  display: flex;
  justify-content: space-evenly;
}
